<h1>User info</h1>
<%= form_with model: @user, local:true do |f| %>
  <% if @user.errors.any? %>
      <p class="err_head"><%= @user.errors.count %> errors prohibited this user from being saved:</p>
      <ul class="err_list">
        <% @user.errors.full_messages.each do |messages| %>
          <li><%= messages %></li>
        <% end %>
      </ul>
  <% end %>

       <p class="Name_field">
          <%= f.label :Name_ %><br>
          <%= f.text_field :name, size: 40 %><br>
       </p>
       <p class="ProfileImage_field">
           <%= f.label :Profile_image  %><br>
           <%= f.attachment_field :profile_image %><br>
       </p>
       <p class="text_area">
           <%= f.label :Introduction %><br>
           <%= f.text_area :introduction, size: "40x5" %><br>
       </p>
           <%= f.submit "Update User" %>
<% end %>
